.groups-navigation {
  height: 3.5rem;
  padding-right: 0;
}

.groups-navigation .navbar-toggler {
  padding-left: 0;
  padding-right: 0;
  border: none;
  outline: none;
}

.groups-logo {
  height: 2.5rem;
  margin-top: .1875rem;
  margin-bottom: -.8125rem;
  display: block;
}

.groups-settings-button svg {
  width: 1rem;
  height: auto;
  opacity: .5;
  transition: opacity .25s ease;
}

.groups-settings-button:hover svg {
  opacity: .75;
}

.groups-footer {
  font-size: .8rem;
}

.groups-footer a {
  margin-right: 1rem;
}