/* Default */

body {
  background-color: rgb(247, 249, 251);
}

.groups-navigation {
  background-color: rgb(111, 135, 159);
}

.nav-underline .nav-link:hover {
  color: rgb(158, 119, 255);
}

.groups-settings-button svg path {
  fill: white;
}

.groups-footer {
  background-color: white;
}

.groups-box {
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .035);
}

/* Dark */

body.dark {
  background-color: rgb(47, 47, 47);
}

body.dark .groups-footer {
  background-color: rgb(31, 31, 31);
}