{% set title = 'Account Settings' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<main role="main" class="groups-content container-fluid">
    <graphjs-profile-settings box="disabled"></graphjs-profile-settings>
</main>
{% endblock %}

