{% set title = 'Forum' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<main role="main" class="groups-content container">
    <graphjs-forum></graphjs-forum>
</main>
{% endblock %}

