{% set title = 'Group' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<main role="main" class="groups-content container-fluid p-0 mt-0">
    <graphjs-group data-reference="group" box="disabled"></graphjs-group>
</main>
<script>
    addAttributes('group', [
        'id' // The list of parameters attributed to tag
    ]);
</script>
{% endblock %}

