{% set title = 'Home' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<main role="main" class="groups-content container">
<div class="row">
    <section class="col-md-12 col-lg-8">
        <graphjs-feed item-link-template="{% if (goal==="show") %}/?page=feed&id={% else %}/{{ name }}/feed?id={% endif %}"></graphjs-feed>
    </section>
    <aside class="groups-sidebar d-none d-lg-block col-lg-4">

        <!-- SECTION START -->
        {% if (about) %}
            <div class="groups-information groups-box public-feature">
                <div class="title">About</div>
                <div class="content">
                    {{ about }}
                </div>
            </div>
        {% endif %}
        <!-- SECTION END -->

        <div class="register-box public-feature">
            <graphjs-auth-register min-width="100%" max-width="100%"></graphjs-auth-register>
        </div>
        <div class="groups-invitation groups-box private-feature">
            <div class="title">Invite people to this group</div>
            <div class="content addthis_inline_share_toolbox"></div>
        </div>
    </aside>
</div>
</main>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c179bca02a7f34e"></script>
{% endblock %}

