{% set title = 'Messages' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<main role="main" class="groups-content container">
    <graphjs-messages></graphjs-messages>
</main>
{% endblock %}

