{% set title = 'Video Chat' %}
{% extends 'layout/template_' + goal + '.njk' %}

{% block content %}
<script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
<script>
callFrame = window.DailyIframe.createFrame({
  iframeStyle: {
    position: 'fixed',
    width: '100%',
    height: '100%',
    "z-index": 1000
  }
});
callFrame.join({ url: 'https://groups.daily.co/{{ name }}' })
</script>
{% endblock %}

